@model IEnumerable<CFAEntities.CFAAgent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AgentName)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id" new{ onclick="return confirm('Are sure wants to delete?');" class="btn btn-danger btn-mini b-none" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
